@model TuLote.Models.Barrio

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-warning">Eliminar</h1>

<h3 class="text-white">¿Estás seguro que quieres eliminar este barrio?</h3>
<div>

    <hr />
    <dl class="row row bg-success col-md-6 text-white fw-bold">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Localidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Localidad.Nombre)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a class="text-white fs-6 fw-bolder btn btn-warning" asp-action="Index">Regresar</a>
    </form>
</div>
