@model List<TuLote.Models.ViewModel.UserRolesViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-white">Roles de Usuarios</h1>
<div class="table-responsive">
    <div class="table">
        <table class="table table-striped tabla-roles" id="MyTable">
            <thead>
                <tr>
                    <th>Id Usuario</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.UserId</td>
                        <td>@user.Email</td>
                        <td>@string.Join(" , ", user.Roles.ToList())</td>
                        <td>
                            <a class="btn btn-primary" asp-controller="UserRoles" asp-action="Manage" asp-route-userId="@user.UserId">Roles activos</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>




@section scripts{
     @{
    <partial name="_ValidationScriptsPartial" />
}
}

