@{
    ViewData["Title"] = "Home Page";
}
<body class="home">
    <div class="text-center text-white fw-bolder">
        <h1 class="display-4 fw-bolder">Bienvenido a tu Lote Online</h1>
        @*<h2>Aquí podrás gestionar la carga de tus lotes de manera segura, facíl y rápida.</h2>*@
    </div>
</body>
<
