@model TuLote.Models.Lote

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Crear">
    <div asp-validation-summary="ModelOnly" class="danger"></div>
    <div class="Row">

        <h3 class="text-start text-white">Crear Lote</h3>

        <div class="col-md-4 mb-3">

            <select asp-for="Barrio_Id" class="form-control" asp-items="ViewBag.Barrio_Id"><option>--Selecciona el barrio--</option></select>
        </div>

        <div class="col-md-4 mb-3">

            <input asp-for="Numero" placeholder="Nro. de lote" class="form-control">
            <span asp-validation-for="Numero" class="text-info fw-bolder"></span>
        </div>

        <div class="col-md-4 mb-3">

            <input asp-for="Metros" placeholder="Metros cuadrados" class="form-control">
            <span asp-validation-for="Metros" class="text-info fw-bolder"></span>
        </div>

        <div class="col-md-4 mb-3">

            <input asp-for="Etapa" placeholder="Etapa" class="form-control">
            <span asp-validation-for="Etapa" class="text-info fw-bolder"></span>
        </div>

        <div class="col-md-4 mb-3">


            @Html.DropDownList("Orientacion", Html.GetEnumSelectList<Orientacion>(), "--Seleccionar orientación--", new { @class = "form-control" })

        </div>


        <div class="col-md-4 mb-3">

            <p class="text-white fw-bolder"><input asp-for="Disponible" value="Activo" type="radio" value="True"> ACTIVO </p>
            <p class="text-white fw-bolder"><input asp-for="Disponible" value="Inactivo" type="radio" value="False"> INACTIVO  </p>
            <span asp-validation-for="Disponible" class="text-info fw-bolder"></span>
        </div>

        <div class="col-md-4 mb-3">

            <input asp-for="Precio" placeholder="Precio en dolares" class="form-control">
            <span asp-validation-for="Precio" class="text-info fw-bolder"></span>
        </div>
        <div class="form-group">
            <label type="hidden" asp-for="FechaCreacion" class="control-label text-white fw-bolder mb-2">Fecha de creación</label>
            <input type="date" asp-for="FechaCreacion" class="control-label" datetime="20:00" />

        </div>
        <div class="col-md-4 mb-3">
            <select onchange="ddl_change_func(this,this);" asp-for="Usuario_Id" class="form-control" asp-items="ViewBag.Usuario"><option>--Selecciona tu Usuario--</option></select>
            @*<span asp-validation-for="Usuario_Id" class="text-info fw-bolder"></span>*@
        </div>
        <button type="submit" class="btn btn-success">Crear</button>
        <a class="btn btn-warning" asp-action="Index">Regresar</a>
    </div>
</form>


