@model TuLote.Models.Provincia

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <form method="post" asp-action="Create" method="post" id="formulario" onsubmit="enviarFormulario(event)">
        <div asp-validation-summary="ModelOnly" class="danger"></div>
        <div class="Row">

            <h3 class="text-start  fw-bolder text-white">Crear Provincia</h3>

            <div class="col-md-4 mb-3">
                @*<label asp-for="Nombre" class="control-label"></label>*@
                <select onchange="ddl_change_func(this);" asp-for="Id" class="form-control"
                        asp-items="ViewBag.listaProvincias">
                    <option value="">-- Seleccionar Provincia --</option>
                </select>

                <input id="selected_val" type="hidden" name="Nombre" value="" />
            </div>

            <button type="submit" class="btn btn-success">Crear</button>
            <a class="btn btn-primary" asp-action="Index">Regresar</a>
        </div>
    </form>
</div>

<script>
    function ddl_change_func(el) {
        //code logic here...

        //set value of hidden field with selected option text
        var ename = $(el).find("option:selected").text();
        $("#selected_val").val(ename);
    }


     function enviarFormulario(e){
        event.preventDefault();
       swal({
         title: "Bien!",
         text: "Has creado el registro con éxito!",
         icon: "success",
        }).then((resultado)=>{
        const formulario= document.getElementById("formulario");
        formulario.submit();
        })
     }
</script>